html {
  background-color: paleturquoise;
}

.name {
  display: block;
  text-align: left;
  background-color: cadetblue;
  width: 100%;
  padding: 50px;
  margin: auto;
  height: 50%;
}
nav{
  box-shadow: 0 0 12px -2px;
  position:  fixed;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  height: 80px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.about {
  text-align: right;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  width: 1270px;
  top: 5%;
  font-size: 175%;
  padding: 0px 30px 0px 40px;
  margin: auto;
}
.port {
  text-align: right;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  width: 1190px;
  top: 5%;
  font-size: 175%;
  padding: 0px 25px 25px 25px;
  margin: auto;
}
.Home {
  text-align: right;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  width: 1080px;
  top: 5%;
  font-size: 175%;
  padding: 0px 25px 25px 25px;
  margin: auto;
}
.Work {
  display: block;
  font-style: italic;
  display: table;
  align-self: auto;
  padding: 150px 10px 0px 0px;
}
.Photo {
  float: right;
  width: 50%;
  height: 30%;
  padding: 10px;
}
.Words {
  display: block;
  box-sizing: border-box;
  margin: 30px 1px 10px 0px;
}
.wor {
  text-align: center;
  position: relative;
  top: 70px;
}

.Ga {
  text-align: center;
  position: relative;
  top: 70px;
}
@media screen and (max-width: 880px) {
  .blue {
    /* Add your styles here */
    color: blue; /* Example style */
  }
}
.Contact {
  text-align: center;
  position: absolute;
  left: 0;
  width: 950px;
  top: 25%;
  font-size: 175%;
  margin: auto;
}
.Contact1 {
  text-align: right;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  width: 1000px;
  top: 5%;
  font-size: 175%;
  padding: 0px 25px 25px 25px;
  margin: auto;
}
.form-control3{
  height: 100px;
width: 400px;
}